@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans_Condensed-Regular.ttf');
    font-weight: 400;
}
