.confirmation {
    margin-top: 64px;

    &__flex {
        margin-top: 32px;
    }

    &__blog {
        border-radius: 12px;
        border: 1px solid var(--c-1-d, #D1D1D1);
        background: var(--c-1-h, #F9F9F9);
        display: flex;
        align-items: center;
        padding: 9px 16px;
        margin-top: 16px;
        max-width: 400px;
        width: 100%;

        &:nth-child(2) {
            max-width: 305px;
            width: 100%;
        }
    }
}

.cf__txt {
    font-weight: 400;
    font-family: unset;
    margin-left: 8px !important;
}

.order__btn {
    border-radius: 12px;
    border: 2px solid $darkGreen;
    background: $green;
    color: #FFF;
    font-family: $fontPoppins;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 48px;
    margin-top: 32px;
}

.safe {
    margin-top: 32px;
}

.safe__title {
    color: $primary;
    font-family: $fontPoppins;
    font-size: 12px;
    font-weight: 600;
}

.safe__txt {
    color: #A9A9A9;
    font-size: 12px;
    font-weight: 400;
    max-width: 150px;
    width: 100%;
}

.copyright {
    color: $primary;
    font-size: 14px;
    font-weight: 400;
    margin-top: 64px;
}